<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
    <script src="{% static 'js/md5.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<style type="text/css">
    body{
        background-image:url("{% static 'images/bg6.jpg' %}");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #menu li a {
	color: #afd9ee;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

#menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
/* Custom Styles */
    ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }

	.setting-profile-title {
        font-size: 30px;
        color: #999;
        line-height: 1;
        padding-bottom: 11px;
       border-bottom: solid 2px #f2f2f2;
      }

    .yahei {
       font-family: "microsoft yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti;
      }

    #etting-profile-form {
         color: #666;
        font-size: 14px;
        margin-top: 15px;
     zoom: 1;
    }

    div {
     display: block;
   }
		tr.t1{background:hsla(165,35%,50%,0.2);height:20px;}
		tr.t2{background:hsla(165,35%,50%,0.4);height:20px;}
		tr.t3{background:hsla(165,35%,50%,0.6);height:20px;}

		#login_click{ margin-top:20px; height:30px;}
		#login_click a {
			text-decoration:none;
			background:#2f435e;
			color:#f2f2f2;
			padding: 8px 20px 8px 20px;
			font-size:16px;	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
			font-weight:bold;
			border-radius:3px;
			-webkit-transition:all linear 0.30s;
			-moz-transition:all linear 0.30s;
			transition:all linear 0.30s;		}
		#login_click a:hover { background:#385f9e; }

		 #tab{font-size:16px;
			 font-family:楷体;
			 text-algn:right;
			 border-color:black;
			}



</style>
<script>
$(document).ready(function(){
    $("#myNav").affix({
        offset: {
            top: 125
      }
    });
});
</script>
</head>


<body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #003366;height:50px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Bibliosoft</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right" id="menu" style="position:absolut; left:0px; top:0px">
                    <li><a style="cursor: pointer;"><span class="fa fa-user fa-lg"></span>&nbsp;&nbsp;admin{{ admin_name }} </a></li>
                    <li><a href="{% url 'admin_login' %}"><span class="glyphicon glyphicon-home"></span> {% trans '返回登录页面' %}</a></li>
                </ul>
            </div>
            <div class="btn-group navbar-btn" data-toggle="buttons">
                <form action="{% url 'set_language' %}" method="post" id="lang">
                {% csrf_token %}
                <input type="hidden" id="lang_s" name="language" value="en">
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <label class="btn btn-primary active"  onclick="test('zh-hans')">
                    中文
                </label>
                <label class="btn btn-primary" onclick="test('en')">
                    English
                </label>
                </form>
        </div>
        </div>
    </nav>
    <br/>
    <br/>
    <br/>
    <div class="title" align="center" tyle="margin-top: 50px;">

                    <img src="/static/images/bibliosoft.png" height="108"/>

    </div>


<div class="container">

    <div class="row" style="float: left;">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125" id="myNav">
                <li class="active"><a href="#section-1">{% trans '管理图书管理员' %}</a></li>
				<li><a href="#section-2">{% trans '注册图书管理员' %}</a></li>
                <li><a href="#section-3">{% trans '设置图书馆规则' %}</a></li>
				<li><a href="{% url 'admin_change_passwd' %}">{% trans '修改本账户密码' %}</a></li>

          </ul>
        </div>
    </div>

        <div class="col-xs-9 " style="float: right;">
        <div id="section-1" style="position: relative;top: -50px;height: 0px;"></div>
        <hr>
            <h2 style="display:block; height:50px; width:400px">{% trans '管理图书管理员' %}</h2>

           		<div class="input-group col-md-3" style="width: 600px;margin-left: auto;margin-right: auto" align="center">
                    <span class="input-group-btn">
                        <a href="{% url 'admin_manage_login' %}">
                            <button class="btn btn-info btn-search">{% trans '全部' %}</button>
                        </a>
                    </span>
                    <input id="libname" type="text" class="form-control" placeholder="{% trans '请输入管理员账户名：' %}" onkeyup="searchLibkey(event)"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-search"  onclick="searchLib()">{% trans '查找' %}</button>
                    </span>
            	</div>


                <table align="center" id="tab" width="300px"  class="table table-striped">

                    <thead>
                        <tr >
                            <th align="center">{% trans '管理员名' %}</th>
                            <th align="center">{% trans '管理员密码' %}</th>
                            <th align="center">{% trans '是否编辑' %}</th>
                            <th align="center">{% trans '是否删除' %}</th>
                            <th align="center">{%  trans '找回密码' %}</th>
                        </tr>
                    </thead>
                    <tbody id="manageLib">
                    {% for librarian in all_librarian %}
                        <tr class="active">
                            <td>{{ librarian.administrator_name }}</td>
                            <td id= "{{ librarian.administrator_name }}_pwd" >********</td>
                            <td>
                                <a href="{% url 'edit_librarian' librarian.administrator_name %}"><button type="button">{% trans '编辑' %}</button> </a>
                            </td>
                            <td>
                                <button type="button" onclick="delete_librarian('{{ librarian.administrator_name }}')" >{% trans '删除' %}</button>
                            </td>
                            <td>
                                <button type="button" onmousedown="see_passwd('{{ librarian.administrator_name }}', '{{ librarian.password }}')" onmouseup="hide_passwd('{{ librarian.administrator_name }}', '{{ librarian.password }}')">{% trans '查看密码' %}</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        <div id="section-2" style="position: relative;top: -50px;"></div>
		<hr>

        <h2 style="display:block; height:50px; width:350px;">{% trans '注册图书管理员' %}</h2>


	   <form id="profile" class="setting-profile-form" action=" ">
    	 	 <table align="center"   width="45%" id="tab" >

                 <tr class="t2">
                     <th width="30%" align="right">{% trans '图书管理员名' %}:</th>
                     <td class="line30" align="center">
                         <input  id="user_name" align="center" type="text" value="{{ lib_name }}" name="user_name" placeholder="{% trans '图书管理员名' %}"  />
                     </td>
                 <tr class="t3">
                    <th width="30%" align="right">{% trans '密码' %}:</th>
                    <td class="line30" align="center">
                        <input  id="psw"  type="password" name="password" value="{{ lib_password}}" placeholder="{% trans '密码' %}" />
                    </td>
    		</table>



        	<div id="login_click" align="center">
                <a id="btlogin" onclick="createLib()">{% trans '注册' %}</a>
            </div>
        </form>

        <div id="section-3" style="position: relative;top: -50px;"></div>
        <hr>
		<h2 style="display:block; height:50px; width:400px">{% trans '设置图书馆规则' %}</h2>

		<form id="profile2" class="setting-profile-form" method="POST" action=" ">
			<table align="center"   width="45%" id="tab" >
                <tr class="t1">
                    <th width="30%" align="right">{% trans '逾期罚金为' %}:</th>
                    <td class="line30" align="center">
                        <input align="center" type="text" id="overdue_fine" name="overdue_fine" placeholder={{ rule.fine }} />
                        <span style="width:45px;display:inline-block;">￥/{% trans '天' %}</span>
                    </td>
                <tr class="t2">
                    <th width="30%" align="right">{% trans '归还期限为' %}:</th>
                    <td class="line30" align="center">
                        <input  align="center" type="text" id="return_days" name="return_days" placeholder={{ rule.days_limit }} />
                        <span style="width:45px;display:inline-block;">{% trans '天' %}</span>
                    </td>
                <tr class="t3">
                    <th width="30%" align="right">{% trans '保证金额度为' %}:</th>
                    <td class="line30" align="center">
                        <input align="center" type="text" id="deposit_amount" name="deposit_amount" placeholder={{ rule.deposit }} />
                        <span style="width:45px;display:inline-block;">￥</span>
                    </td>
			</table>

			<div id="login_click" align="center">
				<a id="btlogin" onclick="editRules()">{% trans '修改' %}</a>
			</div>
        </form>



            <hr>
    </div>
</div>

<footer style="color: #000000;font-weight: normal;font-size: .60em;font-style: italic;text-align: center;">
京 ICP备 09067229号   京公网安备 110105000296   版权所有 A14组
<br>
Copyright &copy;2018 Library
<br>
<a href="#">xiaoxiongxiong@xiongxiong.com</a>
</footer>




</body>
<script type="text/javascript">
    function createLib() {
        var name = $("#user_name").val();
        var psw = $("#psw").val();
        if(name!=""&&psw!=""){
            $.get("/createLib/",{"name":name,"psw":psw},function (result,statue) {
                if(statue === 'success') {
                    if (result["result"] === true) {
                        alert("{% trans '注册成功!' %}")
                         window.location.reload();
                    } else {
                        alert("{% trans '注册失败!' %}")
                    }
                }
            })
        }else {
            if(name==""){
                alert("{% trans '用户名不能为空！' %}");
            }else{
                alert("{% trans '密码不能为空！' %}");
            }
        }
    }
    function searchLibkey(e) {
        if (e.keyCode == 13){
            searchLib();
        }
    }
    function searchLib() {
        var libname = $("#libname").val();
         if(libname != ""){
            $.get("/manager/get_adminPsw/",{"username":libname},function (result,statue) {
                if(statue === 'success') {
                    if (result["result"] === true) {
                        add_admin_message(result)
                    } else {
                        alert("{% trans '不存在此用户' %}")
                    }
                }
            })
        }
    }
    function delete_librarian(account) {
        if(account != ""){
            $.get("/manager/delete_librarian/", {"lib_name": account}, function (result,statue) {
                if(statue === 'success') {
                    if (result["result"] === true) {
                        alert("{% trans '删除成功!' %}");
                        window.location.reload();
                    } else {
                        alert("{% trans '删除失败!' %}");
                    }
                }
            })
        }
            {#alert(account);#}
    }
    /*
    var flag = true;
    function see_passwd(lib_name, passwd) {
        var pwd = document.getElementById(lib_name+"_pwd");
        if(flag){
            pwd.innerText = passwd;
            flag = false;
        }else{
            pwd.innerText = "********";
            flag = true;
        }
        {#alert(pwd.text);#}
    }
    */
    function see_passwd(lib_name, passwd) {
        var pwd = document.getElementById(lib_name+"_pwd");
        pwd.innerText = passwd;
        //alert(pwd.innerText);
    }
    function hide_passwd(lib_name, passwd) {
        var pwd = document.getElementById(lib_name+"_pwd");
        pwd.innerText = "********";
        //alert("asd")
    }

    function  add_admin_message(result) {
        // 动态添加管理员信息
        var lib = document.getElementById("manageLib");
        var lib_child = lib.getElementsByTagName("tr");
        var len = lib_child.length;
        if(len>0){  //删除之前的结果
            for (i=0;i<len;){
                i++;
                lib.removeChild(lib_child[len-i]);
                //lib_child的长度会动态修改
            }
        }
        tr = document.createElement("tr");
        var account_name = document.createElement("td");
        account_name.innerText = result["account"];
        var passwd = document.createElement("td");
        passwd.setAttribute("id",result["account"]+"_pwd");
        passwd.innerText = "********";
        var edit_librarian = document.createElement("td");
        var edit_href = document.createElement("a");
        var button_3 = document.createElement("button");
        button_3.setAttribute("width", "100px");
        button_3.innerText = "{% trans '编辑' %}";
        edit_href.setAttribute("href", "/manager/edit_librarian/"+result["account"]+"/");
        edit_href.appendChild(button_3);
        edit_librarian.appendChild(edit_href);
        var delete_librarian = document.createElement("td");
        var button_1 = document.createElement("button");
        button_1.setAttribute("width", "100px");
        button_1.innerText = "{% trans '删除' %}";
        button_1.setAttribute("onclick", "delete_librarian(" +"\""+result["account"]+"\""+")");
        delete_librarian.appendChild(button_1);
        var see_passwd_button = document.createElement("td");
        var button_2 = document.createElement("button");
        button_2.setAttribute("width", "100px");
        button_2.innerText = "{% trans '查看密码' %}";
        button_2.setAttribute("onmousedown", "see_passwd(" + "\""+result["account"]+"\"" + ", " +
            "\""+result["psw"]+"\""+ ")" );
         button_2.setAttribute("onmouseup", "hide_passwd(" + "\""+result["account"]+"\"" + ", " +
            "\""+result["psw"]+"\""+ ")" );
        see_passwd_button.appendChild(button_2);

        tr.appendChild(account_name);
        tr.appendChild(passwd);
        tr.appendChild(edit_librarian);
        tr.appendChild(delete_librarian);
        tr.appendChild(see_passwd_button);

        lib.appendChild(tr);

    }
    function test(str){
        var li=document.getElementById("lang").getElementsByTagName("input");
        li[1].value=str;
        document.getElementById("lang").submit();
        //submit
    }
    function editRules() {
        var overdue_fine = $("#overdue_fine").val();
        var return_days = $("#return_days").val();
        var deposit_amount = $("#deposit_amount").val();
        var flag = 0;

        if (overdue_fine == "") {
            overdue_fine = document.getElementById("overdue_fine").placeholder;
            flag++;
        }
        if(return_days==""){
            return_days = document.getElementById("return_days").placeholder;
            flag++;
        }
        if(deposit_amount==""){
            deposit_amount = document.getElementById("deposit_amount").placeholder;
            flag++;
        }

        if(flag!=3){
            $.get("/manager/edit_rules/", {"overdue_fine": overdue_fine, "return_days":return_days,
            "deposit_amount":deposit_amount}, function (result,statue) {
                if(statue === 'success') {
                    if (result["result"] === true) {
                        alert("{% trans '修改成功!' %}");
                        window.location.reload();
                    } else {
                        alert("{% trans '修改失败!' %}");
                    }
                }
            })
        }
        else
            alert("No Change！")
    }
</script>
</html>