<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="icon" href="/static/images/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href=/static/font/css/font-awesome.min.css rel="stylesheet">
    <meta charset="UTF-8">
    <title>添加图书</title>
    <style>
        .form{background: rgba(255,255,255,0.2);width:400px;margin:120px auto;}
    </style>
</head>
<body>
<div align="right" class="banner-content" style="display: block;">
		<a href="/manage/"style=" font-size:16px;">返回管理中心</a>
	</div>
<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3" id="register_form">
            <div class="col-md-9">
                <div class="form-group">
                    <i class="fa fa-barcode"></i>
                    <input type="text" name="isbn" id="isbn">
                </div>
                <div class="form-group">
                    <i class="fa fa-user-o"></i>
                    <input type="text" name="author" id="author">
                </div>
                <div class="form-group">
                    <i class="fa fa-book"></i>
                    <input type="text" name="book_name" id="book_name">
                </div>
                <div class="form-group">
                    <i class="fa fa-image"></i>
                    <input type="text" name="image_url" id="image_url">
                </div>
                <div class="form-group">
                    <i class="fa fa-clone"></i>
                    <input type="text" name="total_num" id="total_num">
                </div>
                <div class="form-group">
                    <i class="fa fa-sort"></i>
                    <input type="text" name="type" id="type">
                </div>
                <div class="form-group">
                    <i class="fa fa-location-arrow"></i>
                    <input type="text" name="place" id="place">
                </div>

                <div class="form-group col-md-offset-9">
                    <button type="submit" class="btn pull-right" name="submit" onclick="add_book()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function isbn_fouces() {
        document.getElementById("isbn").focus()
    }
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
isbn_fouces();
    $(document).ready(function () {
        $('#isbn').bind('keypress',function(event){
            if (event.keyCode == "13") {
                url = '/isbn/api/?isbn='+$(this).val();
                $.get(url, function (result, statue) {
                    if (result['result']=== true){
                        document.getElementById("book_name").value = result["book_name"];
                        document.getElementById("image_url").value = result["image_url"];
                        document.getElementById("type").value = result["type"];
                        document.getElementById("author").value = result["author"];
                    } else {
                        alert('ISBN查询失败')
                    }
                });
            } else {
                return;
            }


        })
    });
    function add_book() {
        var isbn = document.getElementById("isbn").value;
        var author = document.getElementById("author").value;
        var book_name = document.getElementById("book_name").value;
        var image_url = document.getElementById("image_url").value;
        var total_num = document.getElementById("total_num").value;
        var type = document.getElementById("type").value;
        var place = document.getElementById("place").value;
        var book_message = {};
        book_message["isbn"] = isbn;
        book_message['author'] = author;
        book_message['image_url'] = image_url;
        book_message['book_name'] = book_name;
        book_message['total_num'] = total_num;
        book_message['type'] = type;
        book_message['place'] = place;
        $.post('/add_book/api/', book_message, function (result, statue) {
            if(statue === "success"){
                if(result["result"] === false){
                    alert("图书添加失败!\n错误信息: "+ result['msg']);
                }
                else {
                    window.location.href = ''
                }
            }
        })
    }
</script>
</body>
</html>