<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>delete book</title>
    <style>
        .form{background: rgba(255,255,255,0.2);width:400px;margin:120px auto;}
        html, body {
            height: 100%;
        }
	    footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            {#background-color: #ffc0cb;#}
        }
#menu li a {
	color: #afd9ee;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

#menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #003366;height:50px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Bibliosoft</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right" id="menu" style="position:absolut; left:0px; top:0px">
                <li><a href="{% url 'manage_page' %}"><span class="glyphicon glyphicon-th-list"></span> {% trans '进入管理中心' %}</a></li>
            </ul>
        </div>
        <div class="btn-group navbar-btn" data-toggle="buttons">
                <form action="{% url 'set_language' %}" method="post" id="lang">
                {% csrf_token %}
                <input type="hidden" id="lang_s" name="language" value="en">
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <label class="btn btn-primary active"  onclick="test('zh-hans')">
                    中文
                </label>
                <label class="btn btn-primary" onclick="test('en')">
                    English
                </label>
                </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3" id="register_form">
            <div class="col-md-9">
                <div class="form-group">
                    <i class="fa fa-info-circle"> {% trans '书籍ID' %}</i>
                    <br>
                    <input type="text" name="book_id" id="book_id">
                </div>
                <div class="form-group">
                    <i class="fa fa-barcode"> {% trans 'isbn' %}</i>
                    <br>
                    <input type="text" name="isbn" id="isbn">
                </div>

                <div class="form-group">
                    <i class="fa fa-user-o"> {% trans '作者' %}</i>
                    <br>
                    <input type="text" name="author" id="author">
                </div>
                <div class="form-group">
                    <i class="fa fa-book">  {% trans '书名' %}  </i>
                    <br>
                    <input type="text" name="book_name" id="book_name">
                </div>
                <div class="form-group">
                    <i class="fa fa-book">  {% trans '删书缘由' %}  </i>
                    <br>
                    <td>
						<label class="btn btn-primary"><input type="radio" name="del_reason" value="damaged" checked="checked">{% trans '损坏' %}</label>
                        &nbsp;
                        <label class="btn btn-primary"><input type="radio" name="del_reason" value="lost">{% trans '丢失' %}</label>
					</td>
                </div>


                <div class="form-group col-md-offset-9">
                    <button type="submit" class="btn pull-right" name="submit" onclick="del_book()">{% trans '删除书籍' %}</button>
                    <button class="btn pull-left" name="submit" onclick="javascript:window.location.href='{% url 'manager_del_record' %}'">{% trans '删除记录' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="color: #000000;font-weight: 20px;font-size: .60em;font-style: italic;text-align: center;">
京 ICP备 09067229号   京公网安备 110105000296   版权所有 A14组
<br>
Copyright &copy;2018 Library
<br>
<a href="#">xiaoxiongxiong@xiongxiong.com</a>
</footer>
<script>
    function book_id_fouces() {
        document.getElementById("book_id").focus()
    }
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
book_id_fouces();
    $(document).ready(function () {
        $('#book_id').bind('keypress',function(event){
            if (event.keyCode == "13") {
                url = '/get_book_info_by_id/api/?book_id='+$(this).val();
                $.get(url, function (result, statue) {
                    if(statue === "success") {
                        if (result['result'] === true) {
                            document.getElementById("book_name").value = result["book_name"];
                            document.getElementById("isbn").value = result["isbn"];
                            document.getElementById("author").value = result["author"];
                        } else {
                            alert('请输入正确ID！')
                        }
                    }
                });
            } else {
                return;
            }


        })
    });
   /* function add_book() {
        var isbn = document.getElementById("isbn").value;
        var author = document.getElementById("author").value;
        var book_name = document.getElementById("book_name").value;
        var image_url = document.getElementById("image_url").value;
        var total_num = document.getElementById("total_num").value;
        var type = document.getElementById("type").value;
        var place = document.getElementById("place").value;
        var price = document.getElementById("price").value;
        var book_message = {};
        book_message["isbn"] = isbn;
        book_message['author'] = author;
        book_message['image_url'] = image_url;
        book_message['book_name'] = book_name;
        book_message['total_num'] = total_num;
        book_message['type'] = type;
        book_message['place'] = place;
        book_message['price'] = price;
        $.post('/add_book/api/', book_message, function (result, statue) {
            if(statue === "success"){
                if(result["result"] === false){
                    alert("图书添加失败!\n错误信息: "+ result['msg']);
                }
                else {
                    window.location.href = ''
                }
            }
        })
    }*/
   function del_book() {
       var book_id = $("#book_id").val();
       var delreasons = document.getElementsByName("del_reason");
       var del_reason;
       for(var i=0;i<delreasons.length;i++){
                if(delreasons[i].checked){
                    del_reason = delreasons[i].value;
                }
            }
        $.get('/manager/delete_book/api/', {"book_id": book_id, "del_reason": del_reason}, function (result, statue) {
            if(statue === "success"){
                if(result["result"] === false){
                    alert("{% trans '图书删除失败!\n错误信息: ' %}"+ result['msg']);
                }
                else {
                    alert("{% trans '图书删除成功！' %}")
                    window.location.reload();
                }
            }
        })
   }

    function test(str){
        var li=document.getElementById("lang").getElementsByTagName("input");
        li[1].value=str;
        document.getElementById("lang").submit();
        //submit
    }
</script>
</body>
</html>