<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="baidu-site-verification" content="nPxypLjNNn">
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7">
{% load i18n %}
{% load static %}
<title>Index</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font/css/font-awesome.min.css' %}" rel="stylesheet">

<style type="text/css">

    body{
        background-image:url("{% static 'images/index.jpg' %}");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td,
    .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #afd9ee;
     }

    .table-striped > tbody > tr:nth-child(2n) > td,
    .table-striped > tbody > tr:nth-child(2n) > th {
        background-color: #8EB2D2;
     }

#menu li a {
	color: #afd9ee;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

#menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}

</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #003366;height:50px;">
    <div class="container">
	    <div class="navbar-header">
	        <a class="navbar-brand">Bibliosoft</a>
	    </div>
	    <div>
	        <ul class="nav navbar-nav navbar-right" id="menu" style="left:0px; top:0px">
                {% if login == True %}
                    {% if username == 'root' %}
                    <li><a href="{% url 'manage_page' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;{% trans '进入管理中心' %}</a></li>
                    {% else %}
                    <li><a href="/user_message/"><span class="fa fa-user fa-lg"></span>&nbsp;{% trans '当前用户' %}:{{ username }}</a></li>
                {% endif %}

                    <li><a href="/clear_message/"><span class="glyphicon glyphicon-off"></span>&nbsp;{% trans '注销' %}</a></li>
                 {% else %}
                     <li><a href="/login/"><span class="glyphicon glyphicon-user"></span>&nbsp;{% trans '登录' %}</a></li>
            {#         <span><a href="/register/">{% trans '注册' %}</a></span>#}
                 {% endif %}
	        </ul>
	    </div>
    	<div class="btn-group navbar-btn" data-toggle="buttons">
                <form action="{% url 'set_language' %}" method="post" id="lang">
                {% csrf_token %}
                <input type="hidden" id="lang_s" name="language" value="en">
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <label class="btn btn-primary"  onclick="test('zh-hans')">
                    中文
                </label>
                <label class="btn btn-primary" onclick="test('en')">
                    English
                </label>
                </form>
        </div>
    </div>
</nav>
<div id="container">
	<div id="bd">
        <div id="main">
        	<div class="title" align="center">

                    <img src="/static/images/Bibliosoft.png" height="108"/>

            </div>
            <br/><br/>
            <div style="position: relative; left:30px;">
                <div class="nav ue-clear">
                    <ul class="searchList">
                        <li class="searchItem current" data-type="all_type">{% trans '全部' %}</li>
                        <li class="searchItem" data-type="computer">{% trans '计算机' %}</li>
                        <li class="searchItem" data-type="literature">{% trans  '文学' %}</li>
                        <li class="searchItem" data-type="philosophy">{% trans '哲学' %}</li>
                        <li class="searchItem" data-type="history">{% trans '历史' %}</li>
                    </ul>
                </div>
                <div class="inputArea">
                    <input type="text" class="searchInput" style="vertical-align:middle;width:600px;height:35px;" id="search_text" />
                        <button class="btn btn-success"  onclick="search()">{% trans '搜索' %}</button>
                    <div id="warn1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div align="center">

    <table align="center" id="tab" class="table table-striped">
        <caption>{% trans '通知栏' %}</caption>
        <thead>
            <tr>
                <th align="center">{% trans '标题' %}</th>
                <th align="center">{% trans '内容简介' %}</th>
                <th align="center">{% trans '发布时间' %}</th>
            </tr>
        </thead>

        <tbody >
            <tr class="active" id="user_message_tr">
            </tr>
        </tbody>
    </table>
</div>
-->

<div style="margin:0 auto;width:700px;height:300px;padding-top: 0px;">
{% if notices.count > 0 %}
	<table class="table table-striped">
{#    #5bc0de#}
        <caption style="text-align: center; font-size: 26px; font-weight: bold; color: orangered">{% trans '通知栏' %}</caption>
	    <thead>
	    <tr style="background-color: #e4b9b9">
	        <th style="text-align: center;">{% trans '标题' %}</th>
            <th style="text-align: center;">{% trans '内容简介' %}</th>
	        <th style="text-align: center;">{% trans '发布时间' %}</th>
            <th style="text-align: center;">{% trans '发布者' %}</th>
	    </tr>
	    </thead>
	    <tbody>
        {% for notice in notices %}
            <tr>
                <td style="text-align: center;"><a href="{% url 'view_notice_content' notice.id %}">{{ notice.title }}</a></td>
            <td style="text-align: center;">
                {% if notice.content|length > 20 %}
                    {{ notice.content|slice:"20" }}
                {% else %}
                    {{ notice.content }}
                {% endif %}
            </td>
            <td style="text-align: center;">{{ notice.updated_time}}</td>
            <td style="text-align: center;">{{ notice.author.administrator_name}}</td>
            </tr>
        {% endfor %}
	    </tbody>
	</table>
{% endif %}
</div>

<footer style="color: #000000;font-weight: normal;font-size: .60em;font-style: italic;text-align: center;">
京 ICP备 09067229号   京公网安备 110105000296   版权所有 A14组
<br>
Copyright &copy;2018 Library
<br>
<a href="#">xiaoxiongxiong@xiongxiong.com</a>
</footer>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/global.js' %}"></script>
<script type="text/javascript">
    var suggest_url = "/suggest/";
    var search_url = "/search/";


	$('.searchList').on('click', '.searchItem', function(){
		$('.searchList .searchItem').removeClass('current');
		$(this).addClass('current');
	});
</script>
<script>
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

    {#function checkBookName(obj) {#}
    {#    if(obj.value===""){#}
    {#        document.getElementById("warn1").innerHTML="<font color='red'>{% trans '请输入书名！' %}</font>";#}
    {#    }else{#}
    {#        document.getElementById("warn1").innerHTML="";#}
    {#    }#}
    {#  }  #}
    function search() {
        var type_attr = $('.current').attr('data-type');
        var type_dic = {"computer":"计算机","literature":"哲学" ,
                         "philosophy": "哲学", "history":"历史",
                        "all_type":"全部",
                        };

        var book_name = $('.searchInput').val();
        if(book_name===""){
            alert("{% trans '请输入书名！' %}");
            return;
        }
        {#var get_data = {"book_type":type_dic[type_attr],"book_name":book_name};#}
        window.location.href ="/search_book/?book_type="+type_dic[type_attr] +"&book_name="+book_name;

    }

    $(document).ready(function () {
        $('#search_text').bind('keypress',function(event){
            if (event.keyCode == "13") {
               search();
            }
        })
    });

    function test(str) {
        var li = document.getElementById("lang").getElementsByTagName("input");
        li[1].value = str;
        document.getElementById("lang").submit();
        //submit
    }
</script>
</body>

</html>