<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load i18n %}
<meta charset="UTF-8">
<title>manager</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<style type="text/css">
/* Custom Styles */
    ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
	
	.setting-profile-title {
        font-size: 30px;
        color: #999;
        line-height: 1;
        padding-bottom: 11px;
       border-bottom: solid 2px #f2f2f2;
      }

    .yahei {
       font-family: "microsoft yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti;
      }

    #etting-profile-form {
         color: #666;
        font-size: 14px;
        margin-top: 15px;
     zoom: 1;
    }
   
		div {
     display: block;
   }
		tr.t1{background:hsla(165,35%,50%,0.2);height:20px;}
		tr.t2{background:hsla(165,35%,50%,0.4);height:20px;}
		tr.t3{background:hsla(165,35%,50%,0.6);height:20px;}
		
		#login_click{ margin-top:20px; height:30px;}
		#login_click a {         
			text-decoration:none;	
			background:#2f435e;	
			color:#f2f2f2;		
			padding: 8px 20px 8px 20px;	
			font-size:16px;	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;	
			font-weight:bold;	
			border-radius:3px;		
			-webkit-transition:all linear 0.30s;	
			-moz-transition:all linear 0.30s;	
			transition:all linear 0.30s;		}   
		#login_click a:hover { background:#385f9e; }
   
		 #tab{font-size:16px;
			 font-family:楷体;
			 text-algn:right;
			 border-color:black;
			}

	
			
</style>
</head>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #003366;height:50px;"> 
    <div class="container"> 
        <div class="navbar-header"> 
            <a class="navbar-brand">Bibliosoft</a>
        </div>    
        <div> 
            <ul class="nav navbar-nav navbar-right" style="position:absolut; left:0px; top:0px">
                <li><a><span class="fa fa-user fa-lg"></span> {{ librarian_name }}</a></li>
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> {% trans '返回首页' %}</a></li>

            </ul> 
        </div> 
        <div class="btn-group navbar-btn" data-toggle="buttons">
                <form action="{% url 'set_language' %}" method="post" id="lang">
                {% csrf_token %}
                <input type="hidden" id="lang_s" name="language" value="en">
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <label class="btn btn-primary active"  onclick="test('zh-hans')">
                    中文
                </label>
                <label class="btn btn-primary" onclick="test('en')">
                    English
                </label>
                </form>
        </div>
    </div> 
</nav>

<body data-spy="scroll" data-target="#myScrollspy">
<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}"/>
    <select name="language">
        {% for language in LANGUAGES %}
            <option value="{{ language.0 }}"{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.1 }} ({{ language.0 }})
        {% endfor %}
    </select>
    <input type="submit" value="Go"/>
</form>
	
	<div align="right" class="banner-content" style="display: block;">
		<a href="/"style=" font-size:16px;">{% trans '首页' %}</a>| <a href="/"style=" font-size:16px;" >{% trans '退出' %}</a>
	
	</div>
    <div style="text-align:center;"><img src="/static/images/book_logo.png" style="vertical-align:middle;" width="210"  /></div>
	<br>

<div class="container">
   
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="myNav">
                <li><a href="#section-1">{% trans '用户资料' %}</a></li>
                <li><a href="#section-2">{% trans '处理预约' %}</a></li>
				<li><a href="#section-3">{% trans '未还图书' %}</a></li>
                <li><a href="#section-4">{% trans '已还图书' %}</a></li>
                <li><a href="#section-5">{% trans '付费记录' %}</a></li>
				<li><a href="{% url 'manager_add_reader' %}">{% trans '添加读者' %}</a></li>

				<li><a href="{% url 'add_book' %}">{% trans '添加书籍' %}</a></li>
                <li><a href="{% url 'update_book_message' %}">{% trans '编辑书籍' %}</a></li>
                <li><a href="{% url 'manager_delete_book' %}">{% trans '删除书籍' %}</a></li>
                <li><a href="{% url 'manager_del_record' %}">{% trans '删书记录' %}</a></li>
                <li><a href="{% url 'manager_income_record' %}">{% trans '收入记录' %}</a></li>
                <li><a href="{% url 'manager_post_news_record' %}">{% trans '推送公告' %}</a></li>
            </ul>
        </div>
        <div class="input-group col-md-3" style="width: 600px;margin-left: auto;margin-right: auto" >
			<input type="text" class="form-control" id="search_input"  placeholder="{% trans '请输入用户名：' %}" />
			<span class="input-group-btn">
				<button class="btn btn-info btn-search" onclick="search_user_message()">{% trans '查找' %}</button>
			</span>
        </div>
        <div class="col-xs-9 ">
            <div id="section-1" style="position: relative; top: -50px;"></div>
            <h2 style="display:block; height:50px; width:350px">{% trans '用户资料' %}</h2>
        
	    <table align="center" id="tab" width="300px"  class="table table-striped">

	        <thead>
                <tr>
                    <th align="center">{% trans '用户ID' %}</th>
                    <th align="center">{% trans '用户名' %}</th>
                    <th align="center">{% trans '邮箱' %}</th>
                    <th align="center">{% trans '缴纳罚金' %}</th>
                    <th align="center">{% trans '删除用户' %}</th>
                    <th align="center">{% trans '编辑用户' %}</th>
                </tr>
	        </thead>

            <tbody >
                <tr class="active" id="user_message_tr">
                </tr>
            </tbody>
        </table>

    <hr>
            <div id="section-2" style="position: relative; top: -50px;"></div>
            <h2 style="display:block; height:50px; width:400px">{% trans '处理预约' %}</h2>


<table align="center" id="tab" width="300px"  class="table table-striped">
	
	<thead>
		<tr >
            <th align="center">{% trans '订单号' %}</th>
			<th align="center">{% trans '书名' %}</th>
			<th align="center">{% trans '用户名' %}</th>
			<th align="center">{% trans '预约时间' %}</th>
			<th align="center">{%  trans '是否借阅' %}</th>
		</tr>
	</thead>

	<tbody id="reserve_table_body">
	</tbody>
</table>

            <hr>
            <div id="section-3" style="position: relative; top: -50px;"></div>
            <h2 style="display:block; height:50px; width:400px">{% trans '未还图书' %}</h2>


    <table align="center" id="tab" width="300px"  class="table table-striped">

        <thead>
        <tr >
            <th align="center">{% trans '订单号' %}</th>
            <th align="center">{% trans '书名' %}</th>
            <th align="center">{% trans '用户名' %}</th>
            <th align="center">{% trans '预约时间' %}</th>
            <th align="center">{% trans '欠费' %}</th>
            <th align="center">{%  trans '归还' %}</th>
            <th align="center">{%  trans '归还提醒' %}</th>
        </tr>
        </thead>
	<tbody id="unreturned_book_tbody">



	</tbody>
</table>
    <div id="section-4" style="position: relative; top: -50px;"></div>
            <h2 style="display:block; height:50px; width:400px">{% trans '已还图书' %}</h2>

    <h4>{% trans "待付金额：" %}<span id="all_fine"></span>&nbsp;￥</h4>
    <table align="center" id="tab" width="300px"  class="table table-striped">

        <thead>
        <tr >
            <th align="center">{% trans '订单号' %}</th>
            <th align="center">{% trans '书名' %}</th>
            <th align="center">{% trans '用户名' %}</th>
            <th align="center">{% trans '归还时间' %}</th>
            <th align="center">{% trans '欠费金额' %}</th>
        </tr>
        </thead>
	<tbody id="returned_book_tbody">



	</tbody>
</table>

    <div id="section-5" style="position: relative; top: -50px;"></div>
            <h2 style="display:block; height:50px; width:400px">{% trans '付费记录' %}</h2>


            <table align="center" id="tab" width="300px"  class="table table-striped">

                <thead>
                <tr >
                    <th align="center">{% trans '订单号' %}</th>
                    <th align="center">{% trans '付费类型' %}</th>
                    <th align="center">{% trans '用户名' %}</th>
                    <th align="center">{% trans '缴纳时间' %}</th>
                    <th align="center">{% trans '收款人' %}</th>
                    <th align="center">{% trans '缴纳金额' %}</th>

                </tr>
                </thead>
                <tbody id="money_orders">


                </tbody>
            </table>

        </div>
    </div>
</div>

<footer style="color: #000000;font-weight: 20px;font-size: .60em;font-style: italic;text-align: center;">
京 ICP备 09067229号   京公网安备 110105000296   版权所有 A14组
<br>
Copyright &copy;2018 Library
<br>
<a href="#">xiaoxiongxiong@xiongxiong.com</a>
</footer>

<script>
    var fn;
        $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
    $(document).ready(function () {
        $('#search_input').bind('keypress',function(event){
            if (event.keyCode == "13") {
               search_user_message();
            }
        })
    });

    function pay_debt(username) {
        $.get("{% url 'manager_pay_debt_api' %}", {'username': username}, function(result){
            if(result["result"] === true){
                alert("{% trans "缴纳罚金成功" %}");
                search_user_message();
            }else {
                alert("Failed!\n" + result['msg']);
            }
        });
    }

    function delete_reader(name) {
        $.get("{% url 'manager_delete_reader' %}", {'username':name}, function(result){
            if(result["result"] === true){
                alert("{% trans "删除成功" %}");
                document.getElementById("user_message_tr").innerText = "";
                document.getElementById("reserve_table_body").innerText = "";
                document.getElementById("return_book_tbody").innerText = "";
            }else {
                alert("Failed!\n message:");
            }
        });
    }

    function return_book(order_id) {
        //归还图书函数
        $.post("{% url 'manage_return_book_api' %}", {'borrow_id':order_id}, function(result){
            if(result["result"] === true){
                search_user_message();
            }else {
                alert("Failed!\n message:"+result["msg"])
            }
        });
    }
    function borrow_book(order_id) {
        // 借阅 函数
        $.post("{% url 'manage_borrow_book_api' %}", {'reserve_id':order_id}, function(result){
            if(result["result"] === true){
                if(result["expire"]===true){
                    alert("该订单已过期！")
                }
                search_user_message();
            }else {
                alert("Failed!\n message:"+result["msg"])
            }
        });
    }
     function send_mail(order_id) {
        //向逾期用户发送邮件提醒
        $.post("{% url 'manage_send_mail_api' %}", {'borrow_id':order_id}, function(result){
            if(result["result"] === true){
                {#search_user_message(); #}
                alert("Successful!\n message:"+result["msg"])
            }else {
                alert("Failed!\n message:"+result["msg"])
            }
        });
    }

    function  add_user_message(user) {
        // 动态添加读者信息
        //
        var user_parent = document.getElementById("user_message_tr");
        user_parent.innerText = "";
        var td = document.createElement("td");
        td.innerText = user["user_id"];
        user_parent.appendChild(td);
        var td_1 = document.createElement("td");
        td_1.innerText = user["user_name"];
        user_parent.appendChild(td_1);
        var td_2 = document.createElement("td");
        td_2.innerText = user["email"];
        user_parent.appendChild(td_2);

        var td_3 = document.createElement("td");
        var debt_button = document.createElement("button");
        debt_button.innerText = "{% trans '缴纳' %}";
        debt_button.setAttribute("onclick", "pay_debt("+"\""+user["user_name"]+"\""+")");
        td_3.appendChild(debt_button);

        var td_4 = document.createElement("td");
        var delete_user_button = document.createElement("button");
        delete_user_button.innerText = "{% trans '删除' %}";
        delete_user_button.setAttribute("onclick", "delete_reader("+"\""+user["user_name"]+"\""+")");
        td_4.appendChild(delete_user_button);

        var td_5 = document.createElement("td");
        var edit_user_button = document.createElement("button");
        edit_user_button.innerText = "{% trans '编辑' %}";
        edit_user_button.setAttribute("onclick", "$(window).attr('location', '/update_reader/?username="+user["user_name"]+"&email="+user["email"]+"');");
        td_5.appendChild(edit_user_button);
        user_parent.appendChild(td_3);
        user_parent.appendChild(td_4);
        user_parent.appendChild(td_5);

    }
    function  add_reserve_order(reserve_orders) {
        // 动态添加 预约 订单
        var reserve_tbody = document.getElementById("reserve_table_body");
        reserve_tbody.innerText = "";
        for( var i=0;i<reserve_orders.length;i++){
            var tr = document.createElement("tr");
            tr.setAttribute("class", "active");
            var td = document.createElement("td");
            var td_1 = document.createElement("td");
            var td_2 = document.createElement("td");
            var td_3 = document.createElement("td");
            var td_4 = document.createElement("td");
            td.innerText = reserve_orders[i]["reserve_order_id"];
            td_1.innerText = reserve_orders[i]["reserve_book_name"];
            td_2.innerText = reserve_orders[i]["reserve_user_name"];
            td_3.innerText = reserve_orders[i]["reserve_time"];
            td_4.setAttribute("width","100px");
            var button = document.createElement("button");
            button.setAttribute("name", "借阅");
            button.setAttribute("onclick", "borrow_book("+reserve_orders[i]["reserve_order_id"].toString()+")");
            button.innerText = "{%  trans '借阅' %}";
            td_4.appendChild(button);
            tr.appendChild(td);
            tr.appendChild(td_1);
            tr.appendChild(td_2);
            tr.appendChild(td_3);
            tr.appendChild(td_4);
            reserve_tbody.appendChild(tr)
        }
    }
    function add_borrow_order(borrow_orders) {
        //添加 借阅图书
        var parent = document.getElementById("unreturned_book_tbody");
        parent.innerText = "";
        for( var i=0;i<borrow_orders.length;i++){
            var tr = document.createElement("tr");
            tr.setAttribute("class", "active");
            var td = document.createElement("td");
            var td_1 = document.createElement("td");
            var td_2 = document.createElement("td");
            var td_3 = document.createElement("td");
            var td_4 = document.createElement("td");
            var td_5 = document.createElement("td");
            var td_6 = document.createElement("td");
            td.innerText = borrow_orders[i]["borrow_order_id"];
            td_1.innerText = borrow_orders[i]["borrow_book_name"];
            td_2.innerText = borrow_orders[i]["borrow_user_name"];
            td_3.innerText = borrow_orders[i]["borrow_time"];
            td_4.innerText = borrow_orders[i]["debt"];
            td_5.setAttribute("width","100px");
            td_6.setAttribute("width","100px");
            var button = document.createElement("button");
            button.setAttribute("onclick", "return_book("+borrow_orders[i]["borrow_order_id"].toString()+")");
            button.innerText = "{%  trans '归还' %}";
            var button1 = document.createElement("button");
            button1.setAttribute("onclick", "send_mail("+borrow_orders[i]["borrow_order_id"].toString()+")");
            button1.innerText = "{%  trans '发邮件' %}";
            td_5.appendChild(button);
            td_6.appendChild(button1);
            tr.appendChild(td);
            tr.appendChild(td_1);
            tr.appendChild(td_2);
            tr.appendChild(td_3);
            tr.appendChild(td_4);
            tr.appendChild(td_5);
            tr.appendChild(td_6);
            parent.appendChild(tr);
        }
    }

    function add_returned_order(returned_orders, allFine) {
        //添加总罚金
        var fine = document.getElementById("all_fine");
        fine.innerText = allFine;
        //添加 已归还图书
        var parent = document.getElementById("returned_book_tbody");
        parent.innerText = "";
        for( var i=0;i<returned_orders.length;i++){
            var tr = document.createElement("tr");
            tr.setAttribute("class", "active");
            var td = document.createElement("td");
            var td_1 = document.createElement("td");
            var td_2 = document.createElement("td");
            var td_3 = document.createElement("td");
            var td_4 = document.createElement("td");

            td.innerText = returned_orders[i]["borrow_order_id"];
            td_1.innerText = returned_orders[i]["borrow_book_name"];
            td_2.innerText = returned_orders[i]["borrow_user_name"];
            td_3.innerText = returned_orders[i]["return_time"];
            td_4.innerText = returned_orders[i]["debt"];

            tr.appendChild(td);
            tr.appendChild(td_1);
            tr.appendChild(td_2);
            tr.appendChild(td_3);
            tr.appendChild(td_4);

            parent.appendChild(tr);
        }
    }

    function add_money_order(money_orders){
        var parent = document.getElementById("money_orders");
        parent.innerText = "";
        for( var i=0;i<money_orders.length;i++){
            var tr = document.createElement("tr");
            tr.setAttribute("class", "active");
            var td = document.createElement("td");
            var td_1 = document.createElement("td");
            var td_2 = document.createElement("td");
            var td_3 = document.createElement("td");
            var td_4 = document.createElement("td");
            var td_5 = document.createElement("td");

            td.innerText = money_orders[i]["id"];
            td_1.innerText = money_orders[i]["order_type"];
            td_2.innerText = money_orders[i]["user_name"];
            td_3.innerText = money_orders[i]["order_time"];
            td_4.innerText = money_orders[i]["librarian"];
            td_5.innerText = money_orders[i]["num"];

            tr.appendChild(td);
            tr.appendChild(td_1);
            tr.appendChild(td_2);
            tr.appendChild(td_3);
            tr.appendChild(td_4);
            tr.appendChild(td_5);

            parent.appendChild(tr);
        }
    }
    function search_user_message() {
        // 搜索用户信息
        var user_name = $("#search_input").val();
        $.post('{% url 'manage_user_message_api' %}',{"user_name":user_name},function(result, statue){
                if(result["result"] === true){
                        var user = result["user_message"];
                        add_user_message(user);
                        var reserve_orders = result["reserve_orders"];
                        add_reserve_order(reserve_orders);
                        var borrow_orders = result["borrow_orders"];
                        add_borrow_order(borrow_orders);
                        var returned_orders = result["returned_orders"];
                        var all_fine = result["all_fine"];
                        add_returned_order(returned_orders, all_fine);
                        var money_orders = result["money_orders"];
                        add_money_order(money_orders);
                }else {
                    alert("Failed!\n message:"+result["msg"])
                }
        });
    }
        function test(str){
        var li=document.getElementById("lang").getElementsByTagName("input");
        li[1].value=str;
        document.getElementById("lang").submit();
        //submit
    }
</script>
</body>
</html>