<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
html {
height: 100%;
}
body {
margin: 0;
padding: 0;
min-height: 100%;
position: relative;
}
#footer{
position: absolute;
left: 0;
right: 0;
bottom: 10px;
color: #969696;
text-align: center;
}
    </style>
</head>
<body>
<center>
    <button onclick="javascript: document.getElementsByTagName('div')[0].style.display='block';">显示</button>
    <button onclick="javascript: document.getElementsByTagName('div')[0].style.display='none';">隐藏</button>
</center>
<hr>
<div style="display: none;" align="center">
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <h1>hhh</h1>
    <h1>ttt</h1>
    <h1>ggg</h1>
    <hr>
</div>
<div style="margin-bottom: 80px;"></div>
<footer id="footer">
    京 ICP备 09067229号   京公网安备 110105000296   版权所有 A14组
    <br>
    Copyright &copy;2018 Library
    <br>
    <a href="#">xiaoxiongxiong@xiongxiong.com</a>
</footer>
</body>
</html>